<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="to.noc.android.swipeyours"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19" />

    <!-- Change debuggable to false before signing APK -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetCardActivity"
            android:label="SetCard"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName="to.noc.android.swipeyours.MainActivity" >
        </activity>
        <service android:name=".PaymentService" android:exported="true"
                 android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.nfc.cardemulation.host_apdu_service" android:resource="@xml/aid_list"/>
        </service>
    </application>

</manifest>
